@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>
<p><a href="/lib">Go to RCL page</a></p>

<div><ButtonInlineJs /></div>
<div><ButtonJsModule /></div>
